{%extends "blog/base.html" %}
{% load static %}
{% block title %}Group Details{%endblock%}
{%block body%}

<!-- Options -->

<div class="row mt-4">
    <div class="col col-lg">

        <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
            <label class="btn btn-secondary active " id="first">
                <input type="radio" name="options" autocomplete="off" checked value="blog"> Blog
            </label>
            {% ifequal group.creater request.user  %}
            <label class="btn btn-secondary " id="second">
                <input type="radio" name="options" autocomplete="off" value="update"> Update
            </label>
            <!-- <label class="btn btn-secondary" id="third">
                <input type="radio" name="options" autocomplete="off"  value="delete"> Delete

            </label> -->
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                Delete
            </button>
            {%endifequal%}
        </div>

    </div>
</div>

<!-- Blog -->
<div class="container" id="blog">


<div class="row">
    <div class="col-lg-10">
        <div class="card shadow-lg mt-3">
            <div class="card-header">
                <h2>
                    <!-- <img src="/media/{{group.img}}" style="height: 50px;width:50px;border-radius: 50%;"> -->
                    {% if group.img %}
                    <img src="/media/{{group.img}}" style="height: 50px;width:50px;border-radius: 50%;">
                    {%else%}
                    <img src="{% static 'images/group.png' %}" style="height: 50px;width:50px;border-radius: 50%;">
                    {%endif%}
                    <strong style="color: black">{{group.name}}</strong>
                </h2>
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col col-lg-12">
                        <p>{{group.disc}}</p>
                    </div>
                </div>
                <div class="col col-lg-2 ml-auto">
                    <div class="container ml-auto"><i>-by {{group.creater}}</i></div>
                </div>


            </div>
        </div>

    </div>
    <div class="col col-lg-2">
        <div class="card shadow-lg mt-5">

            <div class="card-header">
                <h6><strong>All Members</strong></h6>
            </div>
            <div class="card-body">
                {% for member in members %}
                <div class="container">
                    {{member.user}}
                    {% ifequal member.user group.creater %}
                    <i>(admin)</i>
                    {%endifequal%}
                </div>
                {%endfor%}
            </div>

        </div>
    </div>
</div>

<!-- Blogs -->
<div class="card-header  mt-4">
    <strong>All Blogs</strong>
</div>
{% for blog in blogs %}
<div class="card shadow-lg mb-2">
   
    <div class="card-body">
       {% ifequal blog.creater request.user  %}
       <div class="float-right">
           <form method="POST" action="/delete_blog/{{blog.id}}/">
            {% csrf_token %}
               <button type="submit" class="btn btn-secondary"><i class="fas fa-trash"></i></button>
           </form>
       </div>
       {%endifequal%}
        <div class="row">
            <div class="col col-lg-12">
                <span>
                    <h2>
                        <strong style="color: black">{{blog.title}}</strong>
                    </h2>
                </span>
                <p>{% if blog.img %}
                    <img src="/media/{{blog.img}}" class="ml-autorounded mx-auto d-block" id="imageZoom" >
                    {%endif%}</p>
                <p>{{blog.disc}}</p>
                <p>{% if blog.file %}
                    <a href="/media/{{blog.file}}">See the document</a>
                    <!-- <iframe src="/media/{{blog.file}}">See the File</iframe> -->
                    {%endif%}
                </p>
                    
            </div>
        </div>
        <div class=" col col-lg-2 ml-auto">
            <div class="container ml-auto"><i>-by {{blog.creater}} (on {{blog.date}})</i></div>
        </div>

        
    </div>
    <div class="card-footer">
    <div class="float-right">
        <button type="button" class="btn btn-primary">Add Comment</button>
    </div>
    </div>
    
</div>
{%endfor%}
<div class="float-right mb-2">
    <a href="/blog_form/{{id}}/"><button type="button" class="btn btn-primary">Add Blog</button></a>
</div>
</div>


<!-- Update -->
<div class="container" id="update" style="display: none;">
    <div class="card text-center shadow-lg p-3 mb-5 bg-white rounded mt-4">
        <div class="card-header ">
            <h3><strong>Update Group</strong></h3>
        </div>
        <div class="card-body">
            <form method="POST" action="/update_group/{{id}}">
                {% csrf_token %}
                <div class="container mt-3">
                    <div class="mb-3">
                        <label><strong>Enter Topic :</strong></label>
                        {{form.name}}
                    </div>
                    <div class="mb-3">
                        <label><strong>Enter Website Name :</strong></label>
                        {{form.disc}}
                    </div>
                    <div class="mb-3">
                        <label><strong>Enter URL :</strong></label>
                        {{form.img}}
                    </div>
                    <div class="mb-3" style="display: none;">
                        {{form.creater}}
                    </div>
                </div>
        </div>
        <div class="card-footer text-muted">
            <div class="mb-3">
                <button type="submit" class="btn btn-primary ml-3">Submit</button>
            </div>
            </form>
        </div>
    </div>




</div>


<!-- Delete -->
<!-- <div class="container" id="delete" style="display: none;">
    
</div> -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Do you want to DELETE</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                It will delete all BLOG and POST also.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form method="POST" action="/delete_group/{{id}}/">
                    {% csrf_token %}
                <button type="submit" class="btn btn-primary">Delete</button>
            </form>
            </div>
        </div>
    </div>
</div>



<script>

    $(document).ready(function () {

        $("#first").click(function () {
            $("#update").hide()
            $("#delete").hide()
            $("#blog").show()
        })
        $("#second").click(function () {
            $("#delete").hide()
            $("#blog").hide()
            $("#update").show()
        })
        // $("#third").click(function () {
        //     $("#update").hide()
        //     $("#blog").hide()
        //     $("#delete").show()
        // })

        $('#imageZoom').imageZoom();

    })


    // const u = "{{request.user.id}}"
    // $(document).ready(function () {
    //     $("#id_creater").val(u);

    // })

    let fields = document.getElementsByTagName("input")
    for (let field in fields) {
        fields[field].className += "form-control"
    }
    $("#id_disc").addClass("form-control")
    let sels = document.getElementsByTagName("select")
    for (let sel in sels) {
        sels[sel].className += "form-control"
    }

    // var groups="{{groups}}";
    // console.log(groups)
    // for(let group in groups ){
    //         $("#id_name").val(group.name)
    //         console.log(group.name)
    //         $("#id_img").val(group.img)
    //         $("#id_disc").val(group.disc)
    // }



</script>
{% endblock %}