{% extends 'blog/base.html' %}
{% load static %}
{% block title%}Index{%endblock%}
{% block body %}

<div class="container">
    <div class="row mt-4">
        <div class="col col-lg-2">
            <h3>Profile</h3>
        </div>

        <div class="col col-lg-10">
            <div class="card shadow-lg ">
                <div class="card-header">
                    <strong>Your Groups</strong>
                    <div class="float-right">
                        <a href="{% url 'group_form' %}"><button type="button" class="btn btn-success" >+New Group</button></a>
                    </div>
                </div>
                <div class="card-body">
                    {% for group in group_list %}
                    <div class="row">
                        <div class="col col-lg-12">
                            <span>
                                <h2><a href="{% url 'group' group.id %}">
                                    {% if group.img %}
                                    <img src="media/{{group.img}}" style="height: 50px;width:50px;border-radius: 50%;">
                                    {%else%}
                                    <img src="{% static 'images/group.png' %}" style="height: 50px;width:50px;border-radius: 50%;">
                                    {%endif%}
                                    
                                    <strong style="color: black">{{group.name}}</strong></a>
                                </h2>
                            </span>
                            <p>{{group.disc}}</p>
                        </div>
                    </div>
                    <div class=" col col-lg-2 ml-auto">
                        <div class="container ml-auto"><i>-by {{group.creater}}</i></div>
                    </div>

                    {%endfor%}
                </div>
            </div>
        </div>

    </div>
</div>



{%endblock%}